<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3D12 Can I Use - D3d12infoDB</title>
    <meta name="description" content="Can I Use support matrix for D3D12 features" />
    <meta name="robots" content="index, archive" />
    <meta name="keywords" content="DirectX, Direct3D, D3D12, DX12" />
    <meta property="og:title" content="D3D12 Can I Use" />
    <meta property="og:description" content="Can I Use support matrix for D3D12 features" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://d3d12infodb.boolka.dev/CanIUse.html" />
    <!--<meta property="og:image" content="" />-->
    <meta name="twitter:card" content="summary" /> <!-- NOTE: use summary_large_image if we add a screenshot or something like that -->
    <meta name="twitter:title" content="D3D12 Can I Use" />
    <!--<meta name="twitter:image" content="" />-->
    <meta name="twitter:description" content="Can I Use support matrix for D3D12 features" />
    
    <%- include('../favicon/favicon_header.html') %>
</head>
<body>
    <%- include('header.html') %>
    <main>
        <div class="CanIUseSearchContainer">
            <div class="CanIUseFilter" id="FeatureSearchBar">
            </div>
            <div class="CanIUseFilterResult" id="FeatureSearchResult">
            </div>
        </div>
        <div class="CanIUseData" id="FeatureData">
        </div>
    </main>
</body>
</html>