<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3D12 Feature Table - D3d12infoDB</title>
    <link rel="canonical" href="https://d3d12infodb.boolka.dev/FeatureTable.html"/>
    <meta name="description" content="Support matrix for all D3D12 features, grouped per vendor and architecture" />
    <meta name="robots" content="index, archive" />
    <meta name="keywords" content="DirectX, Direct3D, D3D12, DX12" />
    <meta property="og:title" content="D3D12 Feature Table" />
    <meta property="og:description" content="Support matrix for all D3D12 features, grouped per vendor and architecture" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://d3d12infodb.boolka.dev/FeatureTable.html" />
    <!--<meta property="og:image" content="" />-->
    <meta name="twitter:card" content="summary" /> <!-- NOTE: use summary_large_image if we add a screenshot or something like that -->
    <meta name="twitter:title" content="D3D12 Feature Table" />
    <!--<meta name="twitter:image" content="" />-->
    <meta name="twitter:description" content="Support matrix for all D3D12 features, grouped per vendor and architecture" />
    
    <%- include('../favicon/favicon_header.html') %>
</head>
<body class="preload">
    <%- include('header.html') %>
    <main>
        <div class="FeatureTableFilterContainer">
            <div class="FeatureTableFilter" id="FeatureTableFilter">
            </div>
        </div>
        <div class="FeatureTable" id="FeatureTable">
        </div>
    </main>
</body>
</html>