<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>D3d12infoDB</title>
    <link rel="canonical" href="https://d3d12infodb.boolka.dev/"/>
    
    <%- include('../favicon/favicon_header.html') %>
    <link rel="search" type="application/opensearchdescription+xml" title="D3d12infoDB" href="opensearch.xml" />

</head>

<body>
    <%- include('header.html') %>
    <main>
        <div class="ReportTable">
            <div id="SearchBarAdaptersContainer"></div>
            <div id="AdaptersFilterContainer" class="FieldSetContainer"></div>
            <div id="ListContainer"></div>
            <div id="SearchBarPropertiesContainer"></div>
            <div id="TableContainer"></div>
        </div>
    </main>
</body>

</html>