@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    color: #000000;
    background-color: #FFFFFF;
}

table,
fieldset {
    border: 2px solid;
    border-collapse: collapse;
    border-color: #a7a7a7;
}

a {
    color: #004a94;
    text-decoration: none;
    text-align: center;
    transition: color .3s ease-in;
}

a:hover {
    color: #3d9efe;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.2em;
}

.headerLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 2.2em;
    padding-top: 0.1em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2100px;
    margin: 0 auto 0.4em auto;
    border-width: 2px;
    border-radius: 4px;
    background-color: #e6e5e5;
}

.headerLink {
    padding-left: 0.25em;
    padding-right: 0.25em;
    height: 100%;
}

.flexRight {
    margin-left: auto;
}

.cell-icon {
    width: 1.45em;
    height: 1.45em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.gui-tooltip {
    position: relative;
    cursor: help;
}

.gui-tooltip .gui-tooltiptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 0.4em;
    border-color: #7f7f7f;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.3em;
    margin: 0 0.2em;
    font-size: initial;
    font-family: initial;

    position: absolute;
    z-index: 1;
    top: 110%;
}

.gui-tooltip:hover .gui-tooltiptext {
    visibility: visible;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #e1e1e1;
        background-color: #1e1e1e;
    }

    a {
        color: #64b2ff;
    }

    a:hover {
        color: #b3d9ff;
    }

    .header {
        background-color: #232323;
        border-style: solid;
        border-collapse: collapse;
        border-color: #474747;
    }

    .icon {
        filter: invert(1);
    }

    .gui-tooltip .gui-tooltiptext {
        background-color: #232323;
        color: #ffffff;
        border-color: #7f7f7f;
    }

}