@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    color: #000000;
    background-color: #FFFFFF;
    margin: 8px;
}

table {
    border: 2px solid;
    border-collapse: collapse;
    border-color: #a7a7a7;
}

a {
    color: #004a94;
    text-decoration: none;
    text-align: center;
    transition: color .3s ease-in;
}

a:hover {
    color: #2684e3;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.2em;
}

.headerLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    width: 100%;
    max-width: 2100px;
    margin: 0 auto;
}

.headerContainer2 {
    position:sticky;
    left: 8px;
    width: calc(100vw - 16px);
    max-width: 2100px;
}

.header {
    height: 2.2em;
    padding-top: 0.1em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 0.4em auto;
    border-width: 2px;
    border-radius: 4px;
    background-color: #e6e5e5;
}

.headerLink {
    padding-left: 0.25em;
    padding-right: 0.25em;
    height: 1.5em;
    border: 2px solid;
    border-radius: 7px;
    transition-property: color, background-color, border;
    border-color: #c8c8c8;
    background-color: #c8c8c8;
}

.headerLink:hover {
    border-color: #c8c8c8;
    background-color: #e6e5e5;
}

.flexLeft {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.flexRight {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.cell-icon {
    width: 1.45em;
    height: 1.45em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.searchBar {
    width: 100%;
    padding: 0.5em;
    border: 2px solid;
    border-color: #a7a7a7;
    border-radius: 4px;
    font-size: 1.2em;
    background-image: url('../icons/search.svg');
    background-position: 0.5em 0.5em;
    background-repeat: no-repeat;
    padding-left: 2em;
}

.searchBar:focus {
    outline: none;
    border-color: #3d9efe;
    background-color: #eff7ff;
}

fieldset {
    float: left;
    flex: 0 1;    
    margin: 0.5em 0.5em 0.5em 0.0em;
    white-space: nowrap;
    border: 2px solid;
    border-collapse: collapse;
    border-color: #a7a7a7;
    font-size: 1.0em;
    box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    word-wrap: break-word;
    font-family: "SourceCodePro", "Courier New", Courier, monospace;
}

.FieldSetContainer {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.gui-tooltip {
    position: relative;
    cursor: help;
}

.gui-tooltip .gui-tooltiptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 0.4em;
    border-color: #7f7f7f;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.3em;
    margin: 0 0.2em;
    font-size: initial;
    font-family: initial;

    position: absolute;
    z-index: 1;
    top: 110%;
}

.gui-tooltip:hover .gui-tooltiptext {
    visibility: visible;
}

.Microsoft {
    background-color: #d0e7f2;
}

.AMD {
    background-color: #f2d0d0;
}

.Nvidia {
    background-color: #d0f2d0;
}

.Intel {
    background-color: #d0d0f2;
}

.Qualcomm {
    background-color: #f2e7d0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #e1e1e1;
        background-color: #1e1e1e;
    }

    a {
        color: #64b2ff;
    }

    a:hover {
        color: #97cafd;
    }

    .header {
        background-color: #232323;
        border-style: solid;
        border-collapse: collapse;
        border-color: #474747;
    }

    .headerLink {
        border-color: #3a3a3a;
        background-color: #3a3a3a;
    }

    .headerLink:hover {
        border-color: #4e4e4e;
        background-color: #4e4e4e;
    }

    .icon {
        filter: invert(1);
    }

    .searchBar {
        color: #ffffff;
        border-color: #7f7f7f;
        background-color: #232323;
        }

    .searchBar:focus {
        border-color: #3d9efe;
        background-color: #20303e;
    }

    fieldset {
        border-color: #8c8c8c;
        background-color: #2d2d2d;
    }

    .gui-tooltip .gui-tooltiptext {
        background-color: #232323;
        color: #ffffff;
        border-color: #7f7f7f;
    }

    .Microsoft {
        background-color: #1c262b;
    }

    .AMD {
        background-color: #220000;
    }

    .Nvidia {
        background-color: #002200;
    }

    .Intel {
        background-color: #000022;
    }

    .Qualcomm {
        background-color: #231e16;
    }

}