main {
    width: 100%;
}

.ReportTable {
    min-width: 70em;
    max-width: 2100px;
    margin-left: auto;
    margin-right: auto;
    font-family: "SourceCodePro", "Courier New", Courier, monospace;
}

table {
    border: 2px solid;
    border-collapse: collapse;
    border-color: #a7a7a7;
    margin: 0.9em 0;
    font-size: 1.0em;
    box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    word-wrap: break-word;
    white-space: pre-wrap;
}

table {
    width: 100%;
}

tr {
    width: 100%;
}

.hiddenCell {
    height: 0;
    padding: 0;
    margin: 0;
}

tr:nth-of-type(odd) {
    background-color: #e6e5e5;
}

tr:nth-of-type(1) {
    text-align: center;
    background-color: #e6e5e5;
    padding: 0;
}

td {
    padding: 2px;
    border: 1px solid;
    border-color: #a7a7a7;
}

td:nth-of-type(even) {
    background-color: #00000010;
}

.ActionButton {
    margin: auto;
    width: 11.5em;
    background-color: #029c07;
    border: none;
    color: white;
    padding: 0.3em 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer !important;
}

.ActionButton:disabled {
    background-color: #7c7c7c;
    cursor: not-allowed !important;
}

.clickableRow.clickableRow.clickableRow {
    cursor: pointer;
}

.clickableRow:hover {
    background-color: #f4de98;
}

.clickableCell {
    cursor: pointer;
}

.clickableCell:hover {
    background-color: #f4de98;
}

.center {
    text-align: center;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 0.4em;
    border-color: #7f7f7f;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.3em;
    margin: 0 0.2em;

    position: absolute;
    z-index: 1;
    bottom: 110%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltipicon {
    height: 0.9em;
    margin: 0.05em 0.15em;
    vertical-align: sub;
}

.ActionIcon {
    cursor: pointer;
    height: 1.1em;
    margin: 0.05em 0.15em;
    vertical-align: sub;
    transition: .5s ease-out;
}

.ActionIcon:hover {
    filter: saturate(3);
}

.ActionIconActivated {
    filter: hue-rotate(180deg) saturate(3);
}

.ActionIconActivated:hover {
    filter: hue-rotate(180deg) saturate(5);
}

.PopupMessage {
    position: absolute;
    
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 0.4em;
    border-color: #7f7f7f;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.3em;
    margin: 0 0.2em;

    animation: PopupFadeout 4s;
    animation-iteration-count: 1;
    opacity: 0;
}


@keyframes PopupFadeout {
    from {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.FormatTable {
    width: auto;
    top: 0;
}

.FormatTable tr:nth-of-type(1) td {
    position: sticky;
    top: 0;
}

.FormatTable tr:nth-of-type(1) td:nth-of-type(odd) {
    background-color: #e6e6e6;
}

.FormatTable tr:nth-of-type(1) td:nth-of-type(even) {
    background-color: #d8d8d8;
}

.vertical-text {
    writing-mode: vertical-rl;
    white-space: pre;
}

.dark-mode {

    table {
        border-color: #8c8c8c;
        background-color: #2d2d2d;
    }

    tr:nth-of-type(odd) {
        background-color: #262626;
    }

    tr:nth-of-type(1) {
        background-color: #262626;
    }

    td {
        border-color: #FFFFFF33;
    }

    td:nth-of-type(even) {
        background-color: #00000020;
    }

    .ActionButton {
        background-color: #005b00;
    }

    .ActionButton:disabled {
        background-color: #464646;
    }

    .clickableRow:hover {
        background-color: #4d4d4d;
    }

    .clickableCell:hover {
        background-color: #4d4d4d;
    }

    .tooltip .tooltiptext {
        background-color: #232323;
        color: #ffffff;
        border-color: #7f7f7f;
    }

    .ActionIcon {
        filter: brightness(1.3);
    }

    .ActionIcon:hover {
        filter: brightness(1.5) saturate(3);
    }

    .ActionIconActivated {
        filter: brightness(1.3) hue-rotate(180deg) saturate(2);
    }

    .ActionIconActivated:hover {
        filter: brightness(1.3) hue-rotate(180deg) saturate(3);
    }

    .PopupMessage {
        background-color: #232323;
        color: #ffffff;
        border-color: #7f7f7f;
    }

    .FormatTable tr:nth-of-type(1) td:nth-of-type(odd) {
        background-color: #262626;
    }

    .FormatTable tr:nth-of-type(1) td:nth-of-type(even) {
        background-color: #212121;
    }
}